<script type='text/javascript'>
	function openUrl(obj) {
		var widget = $(obj).find('.widget');
		var url = widget.data('url');
		window.open(url, '_blank');
	}

	$(function() {
		$('li').live('click', function(e){
			openUrl(this);
		});
		$('li').live('touchend', function(e){
				openUrl(this);
		});
	});
</script>

<% content_for :title do %>ElectricFlow Release Summary<% end %>
<div class="gridster">
	<ul>

<!--
		<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="welcome" data-view="Text" data-title="Hello" data-text="This is your shiny new dashboard." data-moreinfo="Protip: You can drag the widgets around!"></div>
		</li>

		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="synergy" data-view="Meter" data-title="Synergy" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix="%"></div>
		</li>

		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="valuation" data-view="Number" data-title="Current Valuation" data-moreinfo="In billions" data-prefix="$"></div>
		</li>
	
		<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="convergence" data-view="Graph" data-title="Convergence" style="background-color:#ff9618"></div>
		</li>		

		<li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="barchart" data-view ="BarChart" data-title="Bar Chart" data-moreinfo=""></div>
		</li>

		<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="my-table" data-view="Table" data-title="Table Title" data-moreinfo="More information about this table"></div>
		</li>
		
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="projects" data-view="Text" data-url="https://flow/commander/link/projects?s=Projects" data-title="projects"></div>
		</li>
-->
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="deployments" data-view="Meter" data-title="Total Deployments" data-height="200" data-width="200" data-min="0" data-max="100" data-suffix=""></div>
		</li>

		
		<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="deploy48" data-view ="List" data-title="Deployments to DEV" data-moreinfo=""></div>
		</li>

		<li data-row="2" data-col="1" data-sizex="3" data-sizey="1">
			<header class="fa fa-arrows drag-handle"></header>
			<div data-id="component-inventory" data-view="Table" data-title="Component Inventory" data-moreinfo=""></div>
		</li>


	</ul>
	<center><div style="font-size: 12px">ElectricCloud Dashboard</div></center>
</div>
